/* DISCOURSE RESPONSIVE IFRAMES */

/* Inside Topic Content (.cooked) */
.cooked .responsive-iframe-wrap {
  width: 100% !important;
  max-width: 100% !important;
  aspect-ratio: 16 / 9;
  position: relative !important;
  overflow: hidden !important;
}

/*

.cooked .responsive-iframe {
  display: block !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  box-sizing: border-box !important;
}

*/

/* Inside Float Kit Tooltips */
  iframe {
    display: block !important;
    width: 100%;
    margin: 0 !important;
        /* width: min(90vw, 700px); */
    aspect-ratio: 16 / 9;
    border: 0 !important;
  }
